<div class="container">
  <h1>Informações sobre o vendedor</h1>

  <div class="location-card">
    <img src="/assets/location-icon.svg" alt="location icon">

    <div>
      <p>Localização</p>
      <strong>São Paulo, São Paulo</strong>
    </div>
  </div>

  <div class="reputation-card">
    <div class="reputation-thermometer">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li class="active"></li>
    </div>
  </div>

  <div class="reputation-row">
    <div>
      <strong>561</strong>
      <span>vendas nos últimos 4 meses</span>
    </div>

    <div>
      <strong>
        <img src="/assets/chat-icon.svg" alt="chat icon">
      </strong>
      <span>Presta um bom atendimento</span>
    </div>

    <div>
      <strong>
        <img src="/assets/clock-icon.svg" alt="clock icon">
      </strong>
      <span>vendas nos últimos 4 meses</span>
    </div>
  </div>

  <a href="#" class="more">Ver mais dados do vendedor</a>
</div>
