<div class="container">
  <div class="condition">Novo</div>

  <div class="row">
    <h1>Camiseta branca de marca desconhecida</h1>
    <app-heart-icon></app-heart-icon>
  </div>

  <span class="dispatch-tag">Enviando normalmente</span>

  <div class="price-card">
    <div class="price-row">
      <span class="symbol">R$</span>
      <span class="fraction">34</span>
      <span class="cents">99</span>
    </div>
    <div class="installmments-info">em 3x de R$11,67</div>
  </div>

  <div class="stock-status">Estoque disponível</div>

  <div class="method-card">
    <app-check-icon></app-check-icon>
    <div>
      <span class="title">Frete grátis</span>
      <span class="details">Benefício Lorem Ipsum</span>
      <a href="#" class="more">Ver mais opções</a>
    </div>
  </div>

  <div class="actions">
    <button class="primary solid">Comprar agora</button>
    <button class="secondary solid">Adicionar ao carrinho</button>
  </div>

  <div class="benefits">
    <li>
      <app-shield-check-icon></app-shield-check-icon>
      <p>
        Compra garantida, receba o produto que está esperando ou devolvemos o dinheiro.
      </p>
    </li>
  </div>
</div>
